
h4 {
    color: whitesmoke;
}

.bodyForm{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.middleForm {
    display: flex;
}

.formLeft {
    width: 350px;
    margin-left: 50px;
}

.formRight {
    width: 350px;
}

input {
    border: none;
    background-color: whitesmoke;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 40px;

}

select {
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 40px;
    margin-left: 10px;
    height: 40px;
    margin: 15px;
    
}

label {
    color: whitesmoke;
}

.option {
    color: whitesmoke;
}

.movieIcon {
    width: 160px;
    height: 100px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p {
    color: whitesmoke;
    border: solid 1px rgb(255, 45, 45);
    border-radius: 10px;
    width: 80%;
    height: 60px;
    padding: 5px;
    text-align: center;
    align-self: center;
    background-color: rgb(255, 45, 45);
}
