.genreBody {
    margin: auto;
    max-width: 1280px;
}

.gridBody {
    display: flex;
    margin: auto;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 350px 350px 350px 350px;
}
